<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="message bye-ionic">

  <ion-item>
    <h1>{{ this.labelGameResult }}</h1>
  </ion-item>

  <ion-item>
    <ion-label>{{ this.computerGameIntervalId == null ? "Human" : "Computer" }} <b>{{ this.chifoumi.score1 }}</b>
      <div *ngIf="this.player1Game != -1">  <!-- game result displayed only if there is a game -->
        <img src = "{{ this.srcImgPlayer1Game }}"/>
      </div>
    </ion-label>

    <ion-label>Computer <b>{{ this.chifoumi.score2 }}</b>
      <div *ngIf="this.player1Game != -1">
         <img src = "{{ this.srcImgPlayer2Game }}"/><br>
      </div>
    </ion-label>
  </ion-item>

  <br>
  <div *ngIf="this.computerGameIntervalId == null" class="button-bar">  <!-- displayed only if human game -->
    <img class="button_rock" src="{{ this.srcImgRock }}" alt="" title="" (click)="rockEvent()"/>

    <img class="button.paper" src="{{ this.srcImgPaper }}" alt="" title="" (click)="paperEvent()" />

    <img class="button.scissors" src="{{ this.srcImgScissors }}" alt="" title="" (click)="scissorsEvent()" />
    <button class="button_new_game" ion-button color="secondary" (click)="resetEvent()">
      New Game
    </button>
  </div>

  <button ion-button color="secondary" class="button_computer_vs_computer" (click)="computerEvent()" [innerText]="this.computerActionButtonLabel">
  </button>

</ion-content>
