<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="message bye-ionic">

  <ion-item>
    <h1>{{ this.getLabelGameResult() }}</h1>
  </ion-item>

  <ion-item>
    <ion-label>P1 Human <b>{{ this.chifoumi.score1 }}</b>
      <div *ngIf="this.player1Game != -1">
        <img src = "{{ this.getSrcImgPlayer1Game(this.player1Game) }}"/>
      </div>
    </ion-label>

    <ion-label>P2 Computer <b>{{ this.chifoumi.score2 }}</b>
      <div *ngIf="this.player1Game != -1">
         <img src = "{{ this.getSrcImgPlayer2Game(this.player2Game) }}"/><br>
      </div>
    </ion-label>
  </ion-item>

  <br>
  <div class="button-bar">
    <img src="{{ this.getSrcImgRock() }}" alt="" title="" (click)="rockEvent()"/>

    <img src="{{ this.getSrcImgPaper() }}" alt="" title="" (click)="paperEvent()" />

    <img src="{{ this.getSrcImgScissors() }}" alt="" title="" (click)="scissorsEvent()" />
  </div>
  <button ion-button color="secondary" (click)="resetEvent()">
    New Game
  </button>

</ion-content>
